html,body{
    margin:0px;
    background-color: #2f4f30;
    color: #fff;
}

.titulo{
    text-align: center;
    background-color: black;
    color:#fff;
    padding: 20px;
    font-size: 25px;
}

.carta{
    width: 150px;
    height: auto;
    position: relative;
    left: 100px;
    margin-left: -75px;
}

#computadora-cartas , #jugador-cartas{
    min-height: 180px;
}
